<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Database.master.cs" Inherits="WebAppFinal.Database" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="stylesheet" type="text/css" href="Content/styleNew.css" />
    <title>Pages</title>
</head>
<body>
<div class="body-width">
        <form id="form1" runat="server">
            <asp:ContentPlaceHolder ID="body" runat="server">
            </asp:ContentPlaceHolder>
        </form>
    </div>
</body>
</html>
